<form action="/games/<%=@game.id%>" method="POST">

  <label for="platform">Platform:</label>
  <input required type="text" id="platform" name="platform" value = "<%=@game.platform%>">

  <label for="title">Title:</label>
  <input required type="text" id="title" name="title" value = "<%=@game.title%>">

  <label for="genre">Genre:</label>
  <input required type="text" id="genre" name="genre" value = "<%=@game.genre%>">

  <label for="available">Available:</label>
  <input required type="BOOLEAN" id="available" name="available" value = "<%=@game.available%>">

  <input type="submit" value="Edit Game">

</form>
